* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(Assets/imagen-back.jpg) 0 0 no-repeat;
    background-size: cover;
}

main{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 650px;
    margin: 0 auto 0 auto;
    padding: 10px;

}

h1 {
    color: rgb(255, 0, 140);
    font-size: 50px;
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0;
}

.parrafo-pink {
    color: whitesmoke;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    columns: 2;
    margin: 10px 0;
}

img{
    width: 100%;
}